[
    ;; Tinkermic Graph Schema

    {:db/ident :graph.element/id
     :db/valueType :db.type/uuid
     :db/cardinality :db.cardinality/one
     :db/unique :db.unique/identity
     :db/doc "The external ID of an element"}

    {:db/ident :graph.edge/inVertex
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/one
     :db/doc "The incoming vertex of an edge"
     :db/index true}

    {:db/ident :graph.edge/outVertex
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/one
     :db/doc "The outgoing vertex of an edge"
     :db/index true}

    {:db/ident :graph.edge/label
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/doc "The label of an edge"
     :db/index true}

     {:db/ident :graph.vertex/label
      :db/valueType :db.type/string
      :db/cardinality :db.cardinality/one
      :db/doc "The label of a vertex"
      :db/index true}
]